<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
</head>

<body>
    <h1>Error</h1>
    Something went wrong!<br>
    Please check the thirdkind message:<br><br>
<code>
<%= message %>
</code>
<br>

<form action="/uploadPreferences"
  enctype="multipart/form-data" method="POST">
    <input type="hidden" name="uploaded" value="<%= path %>"/> <br>
    <input type="checkbox" id="freeliving" name="freeliving" checked>
    <label for="freeliving">Try with 'free living' option</label>
    <input type="submit" value="submit">
</form>
<br>
<br>
Or try with  <a href ="/">another input file</a>
</body>

</html>
