<!DOCTYPE html>
<html>

<head>
<%- include ("../partials/head") %>
</head>

<body>
<%- include ("../partials/header") %>
    <h2>Input file error</h2>
<code>
<%= message %>
</code>
<br>


<br>
<br>
<a href ="/">Try with another input file</a>
</body>

</html>
