<!DOCTYPE html>
<html>

<head>
    <title>Thirdkind - File upload</title>
</head>

<body>
    <h1>Thirdkind</h1>
    <h2>Single File Upload</h2>

    <form action="/uploadProfilePicture"
      enctype="multipart/form-data" method="POST">

        <span>Upload a recPhyloXML file:</span>
        <input type="file" name="mypic" required/> <br><br>
        <!-- <input type="checkbox" id="landcsape" name="landscape"> -->
        <!-- <label for="landcsape">landcsape</label> -->
        <label for="freeliving">Check this box if the reconciliation presents "Free living"
           organisms</label>
        <input type="checkbox" id="freeliving" name="freeliving">
        <br><br>
        <input type="submit" value="Generate SVG">
    </form>
</body>

</html>
