<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>THIRDKIND SERVER</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:10px;
              position: absolute;
              padding-left: 50px ;
              /* background-image: url('thirdkind_logo_trans.png'); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: 100%; */
            }
</style>
