<!-- views/partials/header.ejs -->
<table><tr><td valign="bottom"><a href="https://github.com/simonpenel/thirdkind/wiki" target=_blank><img src="thirdkind_logo.png" width=40px></a></td><td valign="bottom"><h1>Thirdkind server</h1></td></tr></table><br>
